.footer {
    padding: 16px 0 35px;
}

.footerLink {
    margin-right: 16px;

    &:last-child {
        margin-right: 0;
    }
}

.logo {
    filter: opacity(.5);

    img {
        width: 142px;
        aspect-ratio: 142 / 40;
    }
}