.container {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 10;
    display: none;
    opacity: .1;
    transition: opacity .5s ease;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -ms-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
}
.messageContainer {
    background-color: #F3F3F3;
    max-width: 576px;
    width: 100%;
    padding: 116px 140px;
}